{
"EMAIL_USERNAME" : 'informationretrieve@gmail.com',
"EMAIL_PASSWORD" : 'CSC2005HCI',
"EMAIL_RECIPIENT" : 'zekegoh@gmail.com',
"MAX_GROUPSIZE" : 1,
"OBJECT_CONFIDENCE" : 0.5,
"SAFE_DISTANCE" : 200,
"CRANE_DISTANCE" : 150,
"AI_Model" : 'fireflyV2M.pt',
"Dangerous_Behaviour_Audio" : "ding.mp3",
"Safe_Distance_Violation_Audio" : "dingding.mp3"
}